<div class="header">

  <a routerLink="/" class="logo">White Bear</a>

  <!--<p class="logo">White Bear</p>-->

  <ul class="menu" [class.side-menu--active]="showSideMenu">
    <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/">Home</a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/rooms">Rooms</a>
      <div class="sub-menu">
        <ul class="arrow-top">
          <li class="sub-menu-item" routerLinkActive="active">
            <a routerLink="/rooms" [queryParams]="{type:'standard'}">Standard Room</a>
          </li>
          <li class="sub-menu-item" routerLinkActive="active">
            <a routerLink="/rooms" [queryParams]="{type:'suite'}">Suite Room</a>
          </li>
          <li class="sub-menu-item" routerLinkActive="active">
            <a routerLink="/rooms" [queryParams]="{type:'premium'}">Premium Room</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/events">Events</a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/contact">Contact</a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/about">About</a>
    </li>
  </ul>

  <a href="#" class="mobile-btn"
     (click)="showSideMenu = !showSideMenu">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>
