<div class="header">

  <a routerLink="/" class="logo">White Bear</a>

  <!--<p class="logo">White Bear</p>-->

  <ul class="menu" [class.side-menu--active]="showSideMenu">
    <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/">Home</a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/rooms">Rooms</a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/events">Events</a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/contact">Contact</a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/about">About</a>
    </li>
  </ul>

  <a href="#" class="mobile-btn"
     (click)="showSideMenu = !showSideMenu">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>
