<div class="header">

  <a routerLink="/" class="logo">White Bear</a>

  <ul class="menu" [class.side-menu--active]="showSideMenu">
    <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink="/" (click)="showSideMenu = !showSideMenu">Home</a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/rooms" (click)="showSideMenu = !showSideMenu">Rooms</a>
      <div class="sub-menu">
        <ul class="arrow-top">
          <li class="sub-menu-item" routerLinkActive="active">
            <a routerLink="/rooms" [queryParams]="{type:'standard'}" (click)="showSideMenu = !showSideMenu">Standard Room</a>
          </li>
          <li class="sub-menu-item" routerLinkActive="active">
            <a routerLink="/rooms" [queryParams]="{type:'suite'}" (click)="showSideMenu = !showSideMenu">Suite Room</a>
          </li>
          <li class="sub-menu-item" routerLinkActive="active">
            <a routerLink="/rooms" [queryParams]="{type:'premium'}" (click)="showSideMenu = !showSideMenu">Premium Room</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/events" (click)="showSideMenu = !showSideMenu">Events</a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/contact" (click)="showSideMenu = !showSideMenu">Contact</a>
    </li>
    <li class="menu-item" routerLinkActive="active">
      <a routerLink="/about" (click)="showSideMenu = !showSideMenu">About</a>
    </li>
  </ul>

  <a class="mobile-btn"
     (click)="showSideMenu = !showSideMenu">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>
