<div class="container">
  <h1 class="title">Hotel Features</h1>
  <div class="row">
    <div class="features-item">
      <i class="fab fa-accusoft"></i>
      <p>Swimming Pool</p>
    </div>
    <div class="features-item">
      <i class="fas fa-swimming-pool"></i>
      <p>Swimming Pool</p>
    </div>
    <div class="features-item">
      <i class="fas fa-swimming-pool"></i>
      <p>Swimming Pool</p>
    </div>
    <div class="features-item">
      <i class="fas fa-swimming-pool"></i>
      <p>Swimming Pool</p>
    </div>
    <div class="features-item">
      <i class="fas fa-swimming-pool"></i>
      <p>Swimming Pool</p>
    </div>
    <div class="features-item">
      <i class="fas fa-swimming-pool"></i>
      <p>Swimming Pool</p>
    </div>
    <div class="features-item">
      <i class="fas fa-swimming-pool"></i>
      <p>Swimming Pool</p>
    </div>
    <div class="features-item">
      <i class="fas fa-swimming-pool"></i>
      <p>Swimming Pool</p>
    </div>
  </div>
</div>

