<div class="container">
  <h1 class="title">Hotel Features</h1>
  <div class="row">
    <div class="features-item">
      <i class="fas fa-water"></i>
      <p>Swimming Pool</p>
    </div>
    <div class="features-item">
      <i class="fas fa-briefcase"></i>
      <p>Hotel Teller</p>
    </div>
    <div class="features-item">
      <i class="fas fa-city"></i>
      <p>City Centre</p>
    </div>
    <div class="features-item">
      <i class="fas fa-parking"></i>
      <p>Car Parking</p>
    </div>
    <div class="features-item">
      <i class="fas fa-cat"></i>
      <p>Pet-Friendly</p>
    </div>
    <div class="features-item">
      <i class="fas fa-glass-martini"></i>
      <p>Minibar</p>
    </div>
    <div class="features-item">
      <i class="fas fa-car"></i>
      <p>Car Airport</p>
    </div>
    <div class="features-item">
      <i class="fas fa-users"></i>
      <p>Conference Room</p>
    </div>
  </div>
</div>

