.rooms-container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-top: 6rem;
}

.header-title {
  text-align: center;
  font-size: 3rem;

  font-weight: 300;
  margin-bottom: 3rem
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.room-cell {
  /*flex: 27%;*/
  margin: 2rem;
  margin-top: 0;
  background-color: #fff;
  flex-grow: 0;
  /*overflow: hidden;*/
  border: 1px solid #eeeba7;
  border-radius: 5px;
}

.room-cell:hover {
  cursor: pointer;
}

.room-cell:focus {
  outline: none;
}

@media (max-width: 748px){

}
