
.row {
  display: flex;
  flex-wrap: nowrap;
}

.contact-item {
  flex: 50%;
  flex-grow: 0;
}

.contact-info {
  padding: 0 12rem;
  align-self: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

.contact-info p {
  text-align: justify;
  padding-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.map-responsive {
  overflow: hidden;
  /*padding-bottom: 56.25%;*/
  position: relative;
  height: 75vh;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

input[type=text], input[type=email] {
  font-style: italic;
  width: 17rem;
  padding: 12px 20px;
  margin: 0.3rem 0.2rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #495057;
}

textarea {
  font-style: italic;
  width: 34.5rem;
  height: 150px;
  padding: 12px 20px;
  margin: 0.8rem 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  resize: none;
}

button {
  background-color: #f23a2e;
  display: block;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 1rem 2rem;
  line-height: 1.5;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input:focus, textarea:focus, button:hover {
  outline-color: #f34136;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 1150px) {
  .row {
    flex-wrap: wrap;
  }

  .contact-item {
    flex: 100%;
    margin: 2rem 2rem;
    padding: 0;
  }

  input[type=text], input[type=email], textarea {
    width: 100%;
  }

  .contact-info {
    order: 1;
  }

  .map-responsive {
    height: 45vh;
    order: 2
  }

}
