

img {
  width: 700px;
  height: 400px;
  object-fit: cover;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 8rem;
}


.description-item {
  flex: 50%;
  flex-grow: 0;
  margin: 1rem;
}

.title {
  margin-bottom: 2rem;
}

.description-room {
  margin-top: 2rem;
}

.description-room p{
  margin-bottom: 0.5rem;
}

.room-option {
  font-weight: 700;
}

button {
  background-color: #f23a2e;
  display: block;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
  color: white;
  padding: 1rem 2rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

/*.description {*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content: center;*/
/*!*flex-direction: column;*!*/
/*}*/

/*.description p,  .description img{*/
/*margin-bottom: 1rem;*/
/*}*/

/*.description-item {*/
/*font-weight: 600;*/
/*}*/


