:host ::ng-deep app-rooms-gallery .rooms-container {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.items {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.search-wrapper {
  display: flex;
  align-items: stretch;
}

label[for="search"], label[for="price"] {
  align-self: center;
  font-weight: 500;
  font-size: 1.2rem;
}

input[type="text"] {
  width: 15rem;
  font-size: 1rem;
  padding: 12px 20px;
  margin: 0 0.6rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input.price {
  width: 7rem;
}

.price-dash {
  align-self: center;
}

input[type="text"]:focus, .sort:focus, .availability:focus {
  outline-color: #f34136;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.sort, .availability {
  font-size: 1rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
}

button {
  background-color: #f23a2e;
  display: inline-block;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0 2rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

button:hover {
  outline-color: #f34136;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rooms-not-found {
  margin-top: 10rem;
  text-align: center;
  color: #f35252;
  font-size: 3rem;
}

.row {
  text-align: center;
}

.pagination-item {
  display: inline-block;
  list-style-type: none;
  margin-right: 1rem;
  background-color: white;
  color: #f23a2e;
  font-size: 1.1rem;
  border: 1px solid rgba(84, 84, 84, 0.85);
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

.pagination-item-active {
  background-color: #f23a2e;
  color: white;
  border-color: #f23a2e;
}

@media (max-width: 1150px) {
  .row {
    justify-content: center;
    margin-bottom: 1.4rem;
  }


  .search-wrapper {
    flex-wrap: wrap;
    justify-content: center
  }

  .search-item, .price-item {
    flex: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}
